<div class="row">
  <div ng-repeat="story in stories" class="media">
    <div class="media-left">
      <img ng-src="{{ story.img }}" width="150px" class="media-object img-circle">
    </div>
    <div class="media-body">
      <h2 class="media-heading">{{ story.title }}</h2>
      <p class="help-block">{{ story.timestamp }} by {{ author(story.author) }}</p>
      <p class="lead">{{ story.text }}</p>
      <p><a ng-href="{{ story.link }}" class="btn btn-default" target="_blank">Full Story</a></p>
    </div>
  </div>
</div>
